# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
venv/
*.egg-info/
.cache/
.installed.cfg
*.egg
*.pyc

# Serverless
.serverless
secrets.yml

# NPM
node_modules/
