# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
venv/
*.egg-info/
.cache/
.installed.cfg
*.egg
*.pyc

# IDE
.vscode/

# Serverless
.serverless
.requirements*

# NPM
node_modules/

# Config
secrets.yml
config/schedule.yml
config/local.json

# Logs
*.log
